body{
    background-color: black;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: #242529;
}

header img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

header h1{
    color: rgb(175, 83, 7);
    font-family: 'Inter';
    font-style: oblique;
}

#createacount{
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-family: 'Inter';
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131519;
}

form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 100%; 
    padding: 10px;
    max-width: 400px; 
    gap: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    background: transparent;
    border: none;
    font-size: 16px;
    width: 100%; 
    border-bottom: 2px solid rgb(236, 236, 236);
    font-family: 'Inter';
    text-align: left;
    font-weight: bold;
}

.container p{
    color: rgb(218, 218, 218);
}

#containerp1{
    margin-right: 65px;
    color: #2D2B2F;
}

#txt1{
    margin-top: 50px;
    color: white;
}

.termos-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
    color: white;
}
